# Django itself
django==4.2.1

# Helpers
django-environ==0.10.0
whitenoise==6.4.0
django-crispy-forms==2.0
crispy_bootstrap4==2022.1
requests>=2,<3


# Used in development only
django-debug-toolbar==4.0.0
pre-commit==3.3.1
black==23.3.0
reorder-python-imports==3.9.0
tox==4.5.1


# Production only
gunicorn==20.1.0


# Label generator
# git+https://github.com/gofrolist/mtg-printable-set-label-generator.git@main
git+https://github.com/davidfischer/mtg-printable-set-label-generator.git@v0.0.3
